{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 6
        }
      }
    ],
    "stage-1",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "comments": false,
      "plugins": [
        "lodash",
        "transform-remove-console"
      ]
    }
  }
}
