{
  "exclude": [
    "**/*.spec.js",
    "**/__test__",
    "build",
    "test",
    "gulp-tasks",
    "gulpfile.babel.js"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false,
  "all": true
}
